/*  */
/* top bar stylings */
.top-bar h3{
    color: rgb(221, 15, 204);
    font-weight: 500;
}
.top-bar a{
    color: purple;
}
.top-bar a:hover{
    color: red;
}
/* top bar stylings */

/*slider Starts  */
  .main-slider img{
     height: 70vh;

  }
  .main-slider .carousel-caption{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 12%, rgba(165,1,37,1) 15%, rgba(0,212,255,1) 100%);
  }
/* slider ends */